<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1 class="center">These are some of my personal projects</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>To do app</h3>
                <p>To do app made with Flask and MySQL </p>
                <a target="_blank" href="https://github.com/Alejandromf96/Flask_ToDo" class="orange">link aqui</a>
            </div>
            <div class="card third">
                <h3>Shopping Cart</h3>
                <p>Built with the basics of react</p>
                <a target="_blank" href="https://github.com/Alejandromf96/Shopping_Cart" class="orange">link aqui</a>
            </div>
            <div class="card third">
                <h3>Groceries</h3>
                <p>Simple app made with Flask and SQLite3</p>
                <a target="_blank" href="https://github.com/Alejandromf96/Groceries" class="orange">link aqui</a>
            </div>
        </div>   
    </div>
</div>